.skills-box {
    /* background: linear-gradient(rgb(43, 43, 43), rgb(102, 102, 102));*/

    background: rgb(57,57,57);
    background: linear-gradient(315deg, rgba(57,57,57,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    font-size: 30px;
    padding: 2em;
    border-radius: 2vh;
}

.divider {
    background-color: rgba(192, 192, 192, 0.199);
    height: 0.5vh;
    width: 100%;
    border-radius: 1em;
}

.count {
    font-size: 50px;
    margin-bottom: 2vh;
}

.skill-name .skill-level {
    padding: 1em;
}

.skill-name {
    margin-top: 2%;
    /* background-color: red; */
}

.skill-level {
    /* background-color: blue; */
    color: rgb(121, 121, 255);
    text-align: center;
    vertical-align: middle;
}