



/* ============================ screen sizes ============================ */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .h1-class {
        font-size: 80px;
    }
    .h3-class {
        margin-top: 1em;
        font-size: 70px;
    }
    p, li {
        font-size: 50px;
    }

    .skills-box {
        /* background: linear-gradient(rgb(43, 43, 43), rgb(102, 102, 102));*/
    
        background: rgb(57,57,57);
        background: linear-gradient(315deg, rgba(57,57,57,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
        color: white;
        font-size: 20px;
        padding: 2em;
        border-radius: 2vh;
        max-height: 50%;
        float: right;
        margin-top: 3vh;
        width: 100%;
        /* position: absolute; */
        overflow-y: scroll;
    }
    
    .divider {
        background-color: rgba(192, 192, 192, 0.199);
        height: 0.5vh;
        width: 100%;
        border-radius: 1em;
    }
    
    .count {
        font-size: 30px;
        margin-bottom: 2vh;
    }
    
    .skill-name .skill-level {
        padding: 1em;
    }
    
    .skill-name {
        margin-top: 2%;
        /* background-color: red; */
    }
    
    .skill-level {
        /* background-color: blue; */
        color: rgb(121, 121, 255);
        text-align: center;
        vertical-align: middle;
    }



}










/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body {
        font-size: 20px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    body {
        font-size: 20px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .skills-box {
        /* background: linear-gradient(rgb(43, 43, 43), rgb(102, 102, 102));*/
    
        background: rgb(57,57,57);
        background: linear-gradient(315deg, rgba(57,57,57,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
        color: white;
        font-size: 20px;
        padding: 2em;
        border-radius: 2vh;
        /* width: 30%; */
        max-height: 50%;
        float: right;
        position: absolute;
        overflow-y: scroll;
    }
    
    .divider {
        background-color: rgba(192, 192, 192, 0.199);
        height: 0.5vh;
        width: 100%;
        border-radius: 1em;
    }
    
    .count {
        font-size: 30px;
        margin-bottom: 2vh;
    }
    
    .skill-name .skill-level {
        padding: 1em;
    }
    
    .skill-name {
        margin-top: 2%;
        /* background-color: red; */
    }
    
    .skill-level {
        /* background-color: blue; */
        color: rgb(121, 121, 255);
        text-align: center;
        vertical-align: middle;
    }
    /* body {
        font-size: 20px;
    } */
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
    }
  }

/* =================================================================== */

















/* ============================ Scrollbar ============================ */
    ::-webkit-scrollbar {
        width: 10px;
    }
  
  /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(57,57,57,0);
    }
  
  /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 2em;
    }
  
  /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }