/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root {
        --border-colour: red;
        --responsive-height-small: 20vh;
        --responsive-width-small: 80%;
        --skill-box-width: 80%;
        --social-outer-width: 100%;
        --logo-width: 59vh;
        --logo-height: 33vh;
        --id-width: 100%;
        --id-height: 80vh;
        --id-top: 40vh;
        --id-position: none;
        --id-margin-top: 0;
        --social-top: 32vh;
        --social-padding-left: 1.7vh;
        --header-height: 80vh;
        --header-width: 100%;
        --summary-margin-left: 5vh;
    }

    .personal-summary, .hobbies-div {
        margin-top: 5vh;
        max-width: 100%;
    }

    /* social icons */

    .social ul {
        border: 5px solid red;
        list-style: none;
        margin: auto;
        width: 80%;
    }
    
    .social ul li {
        display: inline;
    }

    /* logo banner */
    .logo {
        vertical-align: middle;
        position: relative;
    }
    
    .header-back {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
    } 

    .not-left {
        margin-left: 7.5vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        --border-colour: blue;
        --responsive-width-small: 5vh;
        --small-context-width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        --map-width: 120vw;
        --map-height: 120vw; 
        --border-colour: black;
        --responsive-height-small: 20%;
        --responsive-width-small: 170%;
        --skill-box-width: 170%;
        --skill-box-height: 50%;
        --social-outer-width: 100%;
        --logo-width: 150%;
        --logo-height: 33vh;
        --id-width: 100%;
        --id-height: 100%;
        --id-top: 40vh;
        --id-position: absolute
        --id-margin-top: 0;
        --social-top: 133%;
        --social-padding-left: 0.53em;
        --header-height: 100%;
        --header-width: 150%;
        --summary-margin-left: 0;
    }

    .me-div {
        margin-top: 5vh;
    }

    .page-content {
        margin-top: 12vh;
    }

    .personal-summary {
        margin-top: 5vh;
        font-size: 5em;
    }

    .hobbies-div {
        font-size: 5em;
    }

    .h1-class, .h3-class {
        font-size: 1.5em;
    }

    /* social icons */

    .social ul {
        /* border: 5px solid red; */
        list-style: none;
        margin: auto;
        width: 126%;
    }
    
    .social ul li {
        display: inline;
        margin-left: 16%;
    }

    /* logo banner */
    .logo {
        vertical-align: middle;
        position: relative;
    }
    
    .header-back {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
    } 

    .not-left {
        margin-left: 7.5vh;
    }

    .skills-div {
        font-size: 5em;
    }

    .skills-div .skill-bar {
        border-radius: 3em;
        margin-bottom: 2em;
    }

    .skills-div .skill-name {
        left: 0;    
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        --border-colour:pink;
        --responsive-width-small: 10vh;
        --small-context-width: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        --border-colour:yellow;
        --responsive-width-small: 40%;
        --responsive-height-small: 25vh;
        --small-context-width: 100%;
        --id-width: 50%;
        --id-height: 40vh;
        --id-top: 0;
        --id-position: absolute;
        --id-margin-top: 4.75vh;
        --social-top: 0vh;
        --social-padding-left: 0;
        --social-outer-width: 50%;
        --logo-width: 70vh;
        --logo-height: 40vh;
        --header-width: 25vh;
        --header-height: 30vh;
    }

    .social {
        text-align: center;
        right: 0;
    }

    .personal-summary, .hobbies-div {
        margin-top: 10vh;
    }
}



/* ============================ Scrollbar ============================ */
    ::-webkit-scrollbar {
        width: 10px;
    }
  
  /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(57,57,57,0);
    }
  
  /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 2em;
    }
  
  /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
/* =================================================================== */

body {
    background-color: rgb(255, 255, 255);
}

.logo {
    /* width: 100%; */
    width: var(--logo-width);
    background: rgb(33, 33, 41);
    height: 40vh;
}

.header-back {
    /* width: var(--logo-width); */
    height: var(--logo-height);
    display: block;
    margin: auto;
}

.me-div {
    width: var(--id-width);
    height: var(--id-height);
    text-align: center;
    margin: auto;
    position: var(--id-position);
    top: var(--id-top);
}

.header-me {
    width: var(--header-width);
    height: var(--header-height);
    /*margin-top: var(--id-margin-top); */

    /* width: 150%;
    height: 100%; */
    /* margin-top: 100%; */
    margin: auto;
    border-radius: 100%;
}

.social {
    width: var(--social-outer-width);
    position: absolute;
    top: var(--social-top);
}

.social-icon {
    background-color: gray;
    height: 8vh;
    width: 8vh;
    border-radius: 100%;
    padding-top: 2.3vh;
    padding-left: var(--social-padding-left);
}

/* .fa {
    width: 8vh;
    height: 8vh;
} */

.social-icon:hover {
    cursor: pointer;
}

.social ul {
    list-style: none;
}

.social-stack {
    margin-top: 4vh;
}

/*////////////////////////////////////////////////////////////////////*/
.personal-summary, .hobbies-div {
    display: inline-block;
    width: var(--responsive-width-small);
    height: var(--responsive-height-small);
    margin-left: var(--summary-margin-left);
}

.h1-class, .h3-class {
    color: var(--border-colour);
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.neumorphism {
    padding: 3vh;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  19px 19px 36px #a8a8a8, 
                -19px -19px 36px #ffffff;
}

.skills-div {
    margin: auto;
    margin-top: 5vh;
    width: var(--skill-box-width);
    height: var(--skill-box-height);
}

.bar {
    background: rgb(33, 33, 41);
    border-radius: 20px;
    text-align: center;
}

.bar-description {
    text-align: center;
}

.bar-info {
    color: #fff;
}

.light {
    background: #fff;
}

.dark {
    background: rgb(33, 33, 41);
}

.light, .dark, .light-text, .dark-text {
    transition: background-color 0.4s;
}

.light-text {
    color: rgb(33, 33, 41);
}

.dark-text {
    color: #fff;
}

.inverted-light-text {
    color: #fff;
}

.inverted-dark-text {
    color: rgb(33, 33, 41);
}

.divider {
    border: 2px solid grey;
    width: 170%;
    margin-top: 10em;
    margin-bottom: 10em;
    position: relative;
    left: 0;
}

.icon-divider {
    width: 170%;
    margin: auto;
    text-align: center;
    font-size: 3em;
}

iframe {
    margin-top: 10vw;
    width: var(--map-width);
    height: var(--map-height);
}